*{
    margin: 0;
    padding: 0;
    /*font-family: 'Microsoft YaHei',SimHei,"微软雅黑","黑体";*/
}
li{
    list-style: none;
}
input{
    outline: none;
}
a{
    text-decoration: none;
    color: #666666;
}

html {
    font-size: 100px;
}
body{
    background: #f5f5f5;
    font-size: 0.12rem;

}